module.exports = {
  outputPath: '',
  publicPath: '',
  entries: {},
  splitChunks: {},
  runtimeChunk: false,
  providers: {},
  copies: {},
  sourceMap: 'auto',
  hashOutput: true,
  watchExclude: [],
  devServer: undefined,
}
