module.exports = {
  outputPath: '',
  publicPath: '',
  entries: {},
  splitChunks: undefined,
  runtimeChunk: false,
  providers: undefined,
  copies: undefined,
  sourceMap: 'auto',
  hashOutput: true,
  watchExclude: [],
  devServer: undefined,
}
